<!DOCTYPE html>
<html>
  <head>

    <meta chatset = "utf-8">
    <title>Tweets Analysis</title>
  <!--  <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js">
  -<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js">
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

  </head>


  <body>


    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}

  </body>
  </html>
